__pycache__/
*.torrent
.env
archived_outputs/
cache_dir/
processed/
filtered_samples/
misc/
downloads/
extracted/
gpt_advice/
outputs/
runs/
snorkel/
topic_models/
data/final/*
data/annotations/*
samples/
final/
topics/
to_annotate/
analysis/

